
body {
   padding: 10px 150px 100px; 
   background: white;
   font-family: 'Oswald', Gill Sans, sans-serif;
   letter-spacing: 1px;
}

img {
    float: left;
}

header {
    background-color: black;
    background-image: url("https://download.unsplash.com/3/doctype-hi-res.jpg");
    width: 100%;
    height: 100%;
    background-size: 1250px;
    opacity: 0.90;
    background-position: 20% 3%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    color: black;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}
 header h1 {
     padding-top: 100px;
     text-align: center;
 }
 
header h2 {
    font-family: 'Oswald', Gill Sans, sans-serif;
   letter-spacing: 1px;     
   padding-bottom: 200px;
   font-style: italic;
   text-transform: capitalize;
   font-weight: normal;
   
}

main {
    background: rgb(255, 245, 230);
    padding-bottom: 40px;
    padding-right: 40px;
    padding-top: 40px;
    margin: 0px;
}

main h2 {
    background-color: white;
    margin: 0px;
    color: black;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}    



p {
    color: black;
    padding-left: 20px;
    
}


nav ul {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 5px 10px 5px;
    background: rgb(48, 61, 68);
    
   
}


nav li {
    display:inline;
    background: rgb(48, 61, 68);
    color: white;
    text-align: center;
 
}

a {
    text-decoration: none;
    color: black;
    background: white;
    text-align: left;
}

footer {
    background: rgb(48, 61, 68);
    margin-top: 10px;
    padding: 30px;
}

#github {
    color: black;
    text-align: left;
}